<div class="about">
  <!-- <h1>ABOUT</h1> -->
  <h3>Blocmetrics is a analytics tool to track events on websites</h3>

  <h3 class="key-features">Key Feature will include:</h3>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <h2>View Overall Activity</h2>
        <span class="ion ion-stats-bars"></span>
        <p>A client-side JavaScript snippet that allows a user to track events on their website.</p>
      </div>
      <div class="col-sm-4">
        <h2>Track Individual Events</h2>
        <span class="ion ion-pie-graph"></span>
        <p>A server-side API that captures and saves those events to a database.</p>
      </div>
      <div class="col-sm-4">
        <h2>Improve Your Web App</h2>
        <span class="ion ion-arrow-graph-up-right"></span>
        <p>A Rails application that displays the captured event data for a user.</p>
      </div>
    </div>
  </div>
</div>
